@import "tailwindcss";

@theme {
  --color-primary: #2679f3;
  --color-primary-dark: #1a5cbd;
  --color-primary-light: #e6f0ff;
  --color-white: #ffffff;
  --color-gray-light: #f7f9fc;
  --color-gray: #e0e6ed;
  --color-gray-dark: #6b7280;
  --color-text: #1f2937;
  --color-success: #34d399;
  --color-error: #ef4444;
}
